/* ----INHOUDSOPGAVE ---- */
/* A / Opmaak algemeen */
/* B / Opmaak afbeeldingen */
/* C / Opmaak containers*/
/* D / Animatie keyframes */
/* E / Media Queries */



/* A / Opmaak algemeen */
html {
    overflow-y: scroll;
}

body {
    background-image: url("../img/Siwa.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-color: hsla(0,0%,100%,0.40);
    background-blend-mode: overlay;
    font-family: mononoki, monospace;
    font-weight: 500;
    color: hsl(0, 0%, 17%);
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

::-webkit-scrollbar { 
    display: none; 
}

/* B / Opmaak afbeeldingen */

#LeftLogo {
    z-index: -2;
    float: left;
    width: 100px;
    height: 175px;
}

#RightLogo {
    z-index: -2;
    float: right;
    width: 100px;
    height: 175px;
}

#LeftLogo2 {
    z-index: -2;
    position: absolute;
    right: 0px;
    bottom: 0px;
    transition: opacity 2s ease-in-out;
}

#RightLogo2 {
    z-index: -2;
    position: absolute;
    left: 0px;
    bottom: 0px;
    transition: opacity 2s ease-in-out;
}

#RaLinks {
    z-index: -1;
    width: 25%;
    position: absolute;
    height: auto;
    top: 150px;
    left: 0px;
    transition: transform 1s;
}

#RaRechts {
    z-index: -1;
    width: 25%;
    position: absolute;
    height: auto;
    top: 150px;
    right: 0px;
    transition: transform 1s;
}

#Kheper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 100px;
    height: auto;
    transition: width 2s;
}

#Kheper:hover {
    width: 300px;
}

#HoLinks {
    float: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: auto;
}

#HoRechts {
    float: right;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: auto;
}

#LinkedInLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: auto;
}

.logo {
    width: auto;
    height: 24px;
}

/* C / Opmaak containers*/
.main-container {
    width: 100%;
    visibility: hidden;
    margin-bottom: 15px;
}

.column {
    visibility: hidden;
}

.btn-dark {
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: #DD311B;
}

.container {
    border-radius: 25px;
    border: black;
    border-width: 3px;
    display: block;
    width: 600px;
    height: auto;
    background-color: #DD311B;
    opacity: 0.9;
    color: black;
}

div[id = "textGithub Repositories"] {
    text-align: center;
}

/* D / Animatie klasses */

.AniButtonIn {
    animation: fadeButtonsIn 2s  normal ease-out;
}

.AniFadeIn {
    animation: fadeIn 1s  normal ease-out;
}

.AniRaRechts {
    animation: RechtseRa 3s  normal ease-out;
}

.KlikRaRechts {
    transform: rotate(-20deg);
}

.KlikRaLinks{
    transform: rotate(20deg);
}

.AniRaLinks {
    animation: LinkseRa 3s  normal ease-out;
}

.AniRightLogo {
    animation: Logorechts 2s  normal ease-out;
    opacity: 0;
}

.AniLeftLogo {
    animation: Logolinks 2s  normal ease-out;
    opacity: 0;
}

/* E / Animatie keyframes */

@keyframes RechtseRa {
    0% {
        right:-300px;
    }
    100% {
        right: 0px;
    }
}

@keyframes LinkseRa {
    0% {
        left:-300px;
    }
    100% {
        left: 0px;
    }
}

@keyframes Logolinks {
    0% {
        right: 0px;
    }
    100% {
        right:-500px;
    }
}

@keyframes Logorechts {
    0% {
        left: 0px;
    }
    100% {
        left:-500px;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
 } 

 @keyframes fadeButtonsIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
 } 

/* F / Media Queries */
@media only screen and (max-width: 600px) {
    .container {
        width: 300px;
    }
        #RightLogo {
        display: none;
    }
    #LeftLogo {
        display: none;
    }
    #Kheper:hover {
        width: 100px;
    }
}

@media only screen and (max-width: 744px) {
    #HoRechts {
        display: none;
    }
    #HoLinks {
        display: none;
    } 
       #Kheper:hover {
        width: 200px;
    }
    .container {
        width: 400px;
    }
}